<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <meta name="theme-color" content="#0a0e1a">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>FocusPoint Tracker</title>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=JetBrains+Mono:wght@300;400;600&display=swap" rel="stylesheet">
    
    <!-- React -->
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="root"></div>
    
    <!-- Configuration -->
    <script type="text/babel" src="{{ url_for('static', filename='js/config.js') }}"></script>
    
    <!-- API Service -->
    <script type="text/babel" src="{{ url_for('static', filename='js/api.js') }}"></script>
    
    <!-- Utilities -->
    <script type="text/babel" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    
    <!-- Components -->
    <script type="text/babel" src="{{ url_for('static', filename='js/components/TopMenu.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/Streaks.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/TimeBreakdown.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/ChatTerminal.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/WaffleChart.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/PomodoroTimer.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/CurrentActivity.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/MomentumMultiplier.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/QuickWins.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/StoreModal.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/components/Notification.js') }}"></script>
    
    <!-- Main App (Backend Connected) -->
    <script type="text/babel" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>